@model QuizApp.Models.Quiz

<head>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" />
    <title>Create Quiz</title>
</head>
<body>
@{
    ViewData["Title"] = "Create Quiz";
    Layout = "_Layout";
}

//Page title 
<h2>@ViewData["Title"]</h2>

//form uses the Create action in the Quiz controller
<form asp-action="Create" method="post">
  @Html.AntiForgeryToken()

//This div creates an input where user can create title for the quiz
    <div>
        <label for="Title">Quiz title:</label>
        <input type="Text" id="title" name="title" />
    </div>

//This div creates a textarea where user can create a description for the quiz
    <div>
        <label for="description">description</label>
        <textarea id="description" name="description"></textarea>
    </div>

//Creates a horizontal line to separate the input fields
    <hr />

  <h3>Questions</h3>

    <div id="questionsContainer">
        @* This div will contain the questions for the quiz *@
        @for (int q = 0; q < Model.Questions.Count; q++)
        {
            <div class="question-block" data-question-index="@q">
                <label>Question @(q+1)</label>
                <input typ="text" name="Questions[@q].Text" value="@Model.Questions[q].Text" />

                <div class="options-container">
                    @for (int o = 0; 0 <Model.Questions[q].Options.Count; o++)
                    {
                        <div class="option-row" data-oindex="@o">
                            <input type="text" name = "Questions[@q].Options[@o].Text" value="@Model.Questions[q].Options[o].Text" />
                            <label>
                                <input type="checkbox" name="Questions[@q].Options[@o].IsCorrect" value =true"
                                    @(Model.Questions[q].Options[o].IsCorrect ? "checked" : "") />
                                    Correct
                            </label>
                            <button type="button" class="remove-option">Remove option</button>
                        </div>
                    }
                    <button type="button" class="add-option">Add option</button>
                </div>

                <button type="button" class="remove-questions">Remove question</button>
                <hr />
            </div>
        }
        
    </div>

    <button type="button" id="addQuestion">Add Question</button>

    <div>
        <button type="submit">Create</button>
    </div>
</form>
</body>
